.step1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  &-title{
    font-size: 25px;
    line-height: 30.5px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 50px;
  }
  &-chips{
    margin-bottom: 20px;
  }
  &-count{
    font-size: 14px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 1.25px;
    margin-bottom: 20px;
  }
  &-link{
    font-size: 12px;
    line-height: 14.5px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
    margin-top: 50px;
  }
}