.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-left: 200px; 

    &-home,
    &-faq {
      cursor: pointer;
      margin-left: 50px; 
      display: flex;
      align-items: center;
      &_text {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.8px;
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 400;
        margin-left: 5px;
      }
    }
  }

  &-logout {
    display: flex;
    align-items: center;
    &_text{
      font-family: 'Montserrat';
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.8px;
      text-align: center;
      font-family: 'Montserrat';
      font-weight: 400;
      margin-right: 10px;
    }
  }
}
@media (max-width:767px) {
  .header{
    &-center{
      margin-left: 0px;
      &-home,
      &-faq {
        margin-left: 20px; 
        margin-right: 20px;
        }
    }

  }
}

