.home{
  width: 580px;
  display: flex;
  flex-direction: column;

  &-title{
    font-family: 'Montserrat';
    font-size: 25px;
    line-height: 30.5px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 25px;
  }
  &-text{
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: #00000099;
  }
  &-button{
    margin-bottom: 20px;
  }
  &-link{
    color:black;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 14.5px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
    margin-top: 50px;
  }
}
@media (max-width:767px) {
  .home{
    width: 90%;
  }
}
